[core]
	editor = vim
	excludesfile = /Users/okapy/.gitignore_global
[merge]
	tool = vimdiff
[user]
	name = okapy
	email = 36099852+okadrive@users.noreply.github.com
[color]
	ui = auto
[diff]
	tool = vimdiff
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
